* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$main-color: #569898;
$dark: #282c35;
$light: #f2f2f2;
$black: #0d0d0d;
$white: #fff;
/* body grid*/
body{
    display: grid;
    grid-template-areas:
    "header main"
    "header footer";
}

/* NAV BAR*/

/* MAIN CONTENT*/
main{
    grid-area: main;
}

/* ANDREAS */

.container {  
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

}

.box1 {
        background-color: $white;
        width: 70%;
        height: 90vh;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        position: relative;
        right: auto;
        background-color: white;
        width: 80%;
        height: 50vh;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        font-family: 'segoe UI Historic';
        border-radius: 10px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
}
#hp  {
       box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
       margin-bottom: 480px;
       border-radius: 10px;
       width: 80%;
       margin-left: 40px;
}


    
.Andreas_fix{
p    {
   margin-right: 50px;
   margin-top: 200px; 
   text-align: center;
   word-break: break-all;
   line-height: 2;
   text-transform: uppercase;
   font-size: 16.1px;
   font-family:Tahoma, Geneva, Verdana, sans-serif;
   white-space: pre-line;
  width: 100%;
   margin-right: 50px; 
   text-align: left;
   word-wrap: break-word;
   white-space: pre;
   word-break: break-all;
   line-height: 2;
   text-transform: uppercase;       
   font-size: 16,89px;
}
.hal{
  text-align: center;
  width:100%;
  font-size: xx-large;
}
.price-table-wrapper{
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 30px;
  
  .featured-table{
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
  }
  
  .pricing-table{
    display: inline-block;
    border: 1px solid $dark;
    border-radius: 10px;
    background: $dark;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    
    &__header{
      padding: 20px;
      font-size: 20px;
      color: #909090 ;
      background: #E0E0E0;
    }
    &__price{
      color: #66CCCC;
      padding: 20px;
      margin: auto;
      font-size: 40px;
      font-weight: 500;
    }
    &__button{
      display: block;
      background: #66CCCC;
      text-decoration: none;
      padding: 20px;
      color: white;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      
      &:before{
        position: absolute;
        left: -20%;
        top: -10%;
        content: '';
        width: 60%;
        height: 220%;
        transform: rotate(-30deg);
        background: white;
        opacity: .3;
        transition: all 0.3s ease-in-out;
      }
      
       &:after{
          position: absolute;
          content: '>';
          top: 0;
          right: 0;
          font-size: 25px;
          padding: 15px;
          padding-right: 40px;
          color: white;
          opacity: 0;
         transition: all 0.3s ease-in-out;
        }
      
      &:hover{
        background: black;
      }
    }
    &__list{
      padding: 20px;
      color: #A0A0A0;
      li{
        padding: 15px;
        border-bottom: 1px solid #C8C8C8 ;
        
        &:last-child{
          border: none;
        }
      }
    }
    
    &:hover{
      box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    
      .pricing-table__button{
        padding-left: 0;
        padding-right: 35px;
       &:before{
          top: -80%;
          transform: rotate(0deg);
          width: 100%;
        }
        &:after{
          opacity: 1;
          padding-right: 15px;
        }
      }
    }
  }
}

 


/* OLIVER */

.logo-text {
  position: absolute;
  z-index: 100;
  width: 40%;
  margin-left: 30%;  
  margin-top: 20%;
}
.img-slide {
    //Position
    width: 100%;
    height: 100vh;
}
#activty-header {
    //Postition
    margin-left: 41%;
    //Style
    font-size: 4rem;
    color: $white;
}

.activity-article {
    //Position
    height: 100vh;
    width: 100%;
    justify-content: center;
    //Style
    background-color: $dark;
}
.activity-images {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 15vw;
}

.activities-container {
    position: relative;
    width: 500px;
    height: 350px;
    margin-top: 10%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: $main-color;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .activities-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .head-text {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* FOOTER */
footer{
    grid-area: footer;
}
/* MOBILE/TABLET */
@media only screen and (max-width: 600px) {
  //HERO 
  .img-slide {
    //Position
    width: 100%;
    height: 50vh;
}

  //ACTIVTIES

  .activity-images {
  display: grid;
  grid-template-columns: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.activities-container {
  position: relative;
  width: 230px;
  height: 180px;
  margin-top: 10%;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.head-text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}