.container {
    height: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box1 {
        background-color: white;
        width: 70%;
        height: 90vh;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        font-family: 'segoe UI Historic';
        font-size: 17px;
        border-radius: 10px;
        position: relative;
        right: -15vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
}
#hp  {
       box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
       border-radius: 10px;
       width: 80%;
       height: 35%;
       margin-bottom: 480px;
       margin-left: 40px;
}
    
p    {
   margin-right: 50px; 
   text-align: left;
   word-wrap: break-word;
   white-space: initial;
}